<!DOCTYPE html>
<html lang="pt-br">		
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="estilo.css">

		<title>Estacionamento - Juliana</title>
	</head>		
	<body>
		<h2>Estacionamento</h2>
		<form method="POST">
			<div>
				<label for="id">ID:</label>
				<input type="text" id="id"/>
			</div>
			<div>				
				<label for="placa">Placa:</label>
				<input type="text" id="placa"/>
			</div>
			<div>
				<label for="ent">Entrada:</label>
				<input type="time" id="ent"/>
				<label for="sai">Saída:</label>
				<input type="time" id="sai"/>
			</div>
		</form>
		<table>
			<thead>
				<tr>
					<th>Tabela de preços</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1 hora - R$5,00</td>
				</tr>
				<tr>
					<td>2 horas - R$6,50</td>
				</tr>
				<tr>
					<td>3 horas - R$8,50</td>
				</tr>
				<tr>
					<td>4 horas - R$10,50</td>
				</tr>
				<tr>
					<td>5 horas - R$12,00</td>
				</tr>
				<tr>
					<td>6 horas (ou mais) - R$18,50</td>
				</tr>
			</tbody>
		</table>
	</body>		
</html>